---
import { Action } from '~/backend/actions/types'
import { formatDate, relativeDate } from '~/utils/format-date'
import A from './A.astro'

interface Props {
  actions: Action[]
}

const { actions } = Astro.props
---

<div class="flex flex-col gap-2 leading-4.5">
  {actions.map(action => (
    <div class="*:truncate">
      <div class="content">
        <A href={action.content.url}>{action.content.text}</A>
      </div>
      <div class="text-sm color-secondary leading-4">{action.extra}</div>
      <div class="text-sm color-secondary leading-4">
        @ <A href={action.service.url}>{action.service.name}</A>,
        <span title={formatDate(action.date)}>{relativeDate(action.date)}</span>
      </div>
    </div>
  ))}
</div>
