---
import { Action } from '~/backend/actions/types'
import { formatDate, relativeDate } from '~/utils/format-date'
import A from './A.astro'

interface Props {
  actions: Action[]
}

const { actions } = Astro.props
---

<div class="actionlist">
  {actions.map(action => (
    <div class="actionlist-item">
      <div class="content">
        <A href={action.content.url}>{action.content.text}</A>
      </div>
      <div class="extra">{action.extra}</div>
      <div class="service">
        @ <A href={action.service.url}>{action.service.name}</A>,
        <span title={formatDate(action.date)}>{relativeDate(action.date)}</span>
      </div>
    </div>
  ))}
</div>

<style is:global>
  .actionlist {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 18px;
  }

  .actionlist-item > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .actionlist-item > :not(.content) {
    color: var(--text-secondary);
    font-size: 12px;
    line-height: 16px;
  }
</style>
